<div id="site_logo" class="col-sm-12"></div>

<div id="site_menu" class="col-sm-12">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" href="#">Ivotek</a> -->
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <!-- <li class="animated bounceInDown delay-05s"><a href="https://www.ivotek.it/index.php">Home</a></li> -->
                    <li><a href="{{ '/' | absolute_url }}">Home</a></li>
                    <li class="sub-menu-parent tab-index='0'">
                        <!-- <a class="animated bounceInDown delay-1s" href="#">Robotica<span class="caret"></span></a>  -->
                        <a href="#">Robotica<span class="caret"></span></a>
                        <ul class="sub-menu">
                            <li><a href="{{ '/robotica/tutorial' | absolute_url }}">Tutorial</a></li>
                            <li><a href="{{ '/robotica/progetti' | absolute_url }}">Progetti</a></li>
                        </ul>
                    </li>

                    <li class="sub-menu-parent tab-index='0'">
                        <!-- <a class="animated bounceInDown delay-1-5s" href="#">Elettronica<span class="caret"></span></a>  -->
                        <a href="#">Elettronica<span class="caret"></span></a>
                        <ul class="sub-menu">
                            <li><a href="{{ '/elettronica/manuali' | absolute_url }}">Manuali</a></li>
                            <!-- <li><a href="schemi_circuiti.php">Schemi</a></li> -->
                            <li><a href="{{ '/elettronica/progetti' | absolute_url }}">Progetti</a></li>
                            <li><a href="{{ '/elettronica/datasheet' | absolute_url }}">Datasheet</a></li>
                        </ul>
                    </li>

                    <li class="sub-menu-parent tab-index='0'">
                        <!-- <a class="animated bounceInDown delay-2s" href="#">Programmazione <span class="caret"></span></a> -->
                        <a href="#">Programmazione <span class="caret"></span></a>
                        <ul class="sub-menu">
                            <!-- <li><a href="assembler.php">Assembler</a></li> -->
                            <!-- <li><a href="c_cpp.php">C / C++</a></li> -->
                            <!-- <li><a href="dos.php">DOS</a></li> -->
                            <!-- <li><a href="html.php">HTML</a></li> -->
                            <li><a href="{{ '/programmazione/basic' | absolute_url }}">Basic</a></li>
                            <!-- <li><a href="pascal.php">Pascal</a></li> -->
                        </ul>
                    </li>

                    <li class="sub-menu-parent tab-index='0'">
                        <!-- <a class="animated bounceInDown delay-2-5s" href="#">Programmi<span class="caret"></span></a> -->
                        <a href="#">Programmi<span class="caret"></span></a>
                        <ul class="sub-menu">
                            <li><a href="{{ '/programmi/elettronica' | absolute_url }}">Elettronica</a></li>
                            <li><a href="{{ '/programmi/robotica' | absolute_url }}">Robotica</a></li>
                            <!-- <li><a href="programmi/progprogrammazione.php">Programmazione</a></li> -->
                            <!-- <li><a href="programmi/progaltro.php">Altro</a></li> -->
                        </ul>
                    </li>
                    <!-- <li class="animated bounceInDown delay-3s"><a class="nav-link" href="https://forum.ivotek.it">Forum</a></li> -->
                    <li><a class="nav-link" href="{{ '/corsi' | absolute_url }}">Corsi</a></li>
                    <li><a class="nav-link" href="https://forum.ivotek.it">Forum</a></li>
                    <!-- <li class="animated bounceInDown delay-3-5s"><a class="nav-link" href="https://www.ivotek.it/contact.php">Contatti</a></li> -->
                    <li><a class="nav-link" href="{{ '/contact' | absolute_url }}">Contatti</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>  <!-- chiudo il menu -->
